In [2]:
import numpy as np
import pandas as pd

In [8]:
np.arange(10)
a = pd.Series(np.arange(10))
a

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [10]:
mydict = {"a" : 0, "b": 1, "c": 2, "d": 3, "e": 4}
pd.Series(mydict)

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [13]:
df_ser = pd.DataFrame(np.arange(10))
print(df_ser)

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [16]:
colnames = ['Column1','Column2','Column3','Column4','Column5']
df = pd.DataFrame(np.random.random((10,5)), columns=colnames)
df

    Column1   Column2   Column3   Column4   Column5
0  0.677888  0.218233  0.297650  0.764143  0.987249
1  0.136575  0.882488  0.144309  0.004656  0.022685
2  0.071985  0.561556  0.842125  0.978043  0.936090
3  0.332654  0.931284  0.216683  0.615603  0.924815
4  0.608891  0.119208  0.953576  0.943238  0.257080
5  0.799583  0.763072  0.488294  0.721072  0.619762
6  0.870534  0.278201  0.762516  0.141544  0.275419
7  0.156954  0.063100  0.476858  0.061399  0.514803
8  0.950332  0.520672  0.592049  0.874964  0.502182
9  0.837193  0.581006  0.345492  0.846488  0.048737

In [18]:
df['Column1']

0    0.677888
1    0.136575
2    0.071985
3    0.332654
4    0.608891
5    0.799583
6    0.870534
7    0.156954
8    0.950332
9    0.837193
Name: Column1, dtype: float64